* {
  font-family: "Spartan";
}

body {
  background-color: hsl(268, 75%, 9%);
}
.header-container {
  display: flex;
  flex-direction: row;
  width: 31em;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: hsl(52, 100%, 62%);
}
.theme-container {
  display: flex;
  align-items: center;
}
.title-theme {
  font-size: 11px;
  margin-top: 4px;
  margin-right: 2em;
  color: hsl(52, 100%, 62%);
}

.theme-num {
  position: absolute;
  display: flex;
  flex-direction: row;
  color: hsl(52, 100%, 62%);
  top: 1.5em;
  width: 5em;
  font-size: 13px;
  justify-content: space-around;
}
.switch {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  width: 4em;
  height: 1.5em;
  background-color: hsl(268, 71%, 12%);
  border-radius: 70px;
}
.theme {
  width: 1em;
  height: 1em;
}

.selector {
  position: absolute;
  background-color: hsl(176, 100%, 44%);
  width: 1em;
  height: 1em;
  border-radius: 2em;
  left: 0.3em;
}
.calculatrice {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
.affichage {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 8.4em;
  height: 2em;
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
  font-size: 60px;
  border-radius: 12px;
  margin-bottom: 25px;
  padding-right: 25px;
}
.touches {
  background-color: hsl(268, 71%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33em;
  height: 30em;
  border-radius: 12px;
}
.bouton {
  height: 60px;
  width: 96px;
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 47%, 21%);
  border: none;
  margin: 12px;
  font-size: 32px;
  -webkit-box-shadow: inset 0px -8px 1px -4px hsl(290, 70%, 36%);
  box-shadow: inset 0px -8px 1px -4px hsl(290, 70%, 36%);
  border-radius: 8px;
}
.btn-lastRow {
  height: 60px;
  width: 10.9em;

  border: none;
  margin: 12px;
  font-size: 32px;

  border-radius: 8px;
}
.btn-del {
  background-color: hsl(281, 89%, 26%);
  -webkit-box-shadow: inset 0px -8px 1px -4px hsl(285, 91%, 52%);
  box-shadow: inset 0px -8px 1px -4px hsl(285, 91%, 52%);
}
.sp-btn {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}
.btn-eq {
  background-color: hsl(176, 100%, 44%);
  -webkit-box-shadow: inset 0px -8px 1px -4px hsl(177, 92%, 70%);
  box-shadow: inset 0px -8px 1px -4px hsl(177, 92%, 70%);
  color: hsl(60, 10%, 19%);
}
.btn-rows {
  display: flex;
}
.attribution {
  color: hsl(52, 100%, 62%);
  font-size: 11px;
  text-align: center;
  margin-top: 1em;
}
.attribution a {
  color: hsl(176, 100%, 44%);
}
@media screen and (max-width: 600px) {
  .header-container {
    width: 19em;
  }
  .theme-container {
    margin-left: 7em;
  }
  .affichage {
    width: 7.5em;
    height: 3em;
    font-size: 40px;
  }
  .touches {
    width: 20.2em;
    height: 26em;
  }
  .bouton {
    height: 65px;
    width: 60px;
    margin: 6px;
  }
  .btn-lastRow {
    width: 6.5em;
    height: 70px;
  }
}
